flask==3.0.3
flask-cors==4.0.1
firebase-admin==6.5.0
bcrypt==4.1.3
PyJWT==2.8.0
requests==2.32.3
schedule==1.2.2
python-dotenv==1.0.1
gunicorn==22.0.0
lightgbm==4.3.0
scikit-learn>=1.4.2
numpy>=1.26.4
